/* app.module.css */
.appContainer {
  display: flex;
  justify-content: center;   /* horizontal center */
  align-items: center;       /* vertical center */
  height: 100vh;           /* full screen height */
  background-color: lightblue;
}